

::ng-deep .mat-mdc-header-row,
::ng-deep .mat-mdc-row,::ng-deep .mat-mdc-footer-row {
    font-family: 'Inter', sans-serif !important;
    height: 36px !important;
}
::ng-deep  .mat-mdc-header-cell,
::ng-deep  .mat-mdc-cell,::ng-deep .mat-mdc-footer-cell {
    border-color: #E8E8E8 !important;
    height: 36px !important;
    padding: 0 10px !important;
    white-space: nowrap;
}

::ng-deep .mat-mdc-header-cell:last-child,::ng-deep  .mat-mdc-cell:last-child,::ng-deep .mat-mdc-footer-cell:last-child {
    width: 100% ;
    text-align: left !important;
    padding: 0 40px !important;
}
